.home{
    /* background: red; */
    /* height: auto; */
    margin: 0;
    padding: 0;
   
}

.carousel-item {
  transition: transform 5.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 5.6s;
}

