.section {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  border-radius: 50px 500px;
}
.section .container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.row1 {
  box-sizing: border-box;
}

.colum1 {
  box-sizing: border-box;
}
.colum2 {
  box-sizing: border-box;
}
.image-section img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px;
  border-radius: 10px;
}
