/* Login page css */


.loginLeftImage{
    height: 84vh;
    border-radius:1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.loginLabel{
    padding-left: 5px;
    font-weight: 500;
}


/* Registstion page css */

.signupImage {
    height: 90vh;
    border-radius: 1px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


@media screen and (max-width: 1000px){
    .signupImage{
        height: 60vh;
    }
    
    .loginLeftImage{
        height: 50vh;
    }
}




