/** @format */

.how-it-works {
  background-color: #DDFFBC;
  min-height: 99vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  overflow-x: hidden;
}

.subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}

.subcontainer-title_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}

.subcontainer-donor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.subcontainer-ngo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.subcontainer-card {
  height: 22rem;
  border: 2px solid orange;
  border-radius: 15px;
  margin-bottom: 0.7rem;
  max-width: 20rem;
  min-width: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.subcontainer-img {
  height: 11rem;
  width: 11rem;
}

.subcontainer-card-header-details {
  font-size: 15px;
  color: #666666;
}

.subcontainer-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

